/shell/master/profile/*.bak
/ghost/master/profile
/shell/master/profile
/ghost/master/satori_savebackup.txt
/ghost/master/satori_savedata.txt
/ghost/master/var
/shell/suwari
/shell/suwari2
/shell/old_suwari.zip
/shell/5years_after
/shell/5years_after2
/shell/master+
/shell/kisekae_doll
/ghost/master/satori_savebackup-DESKTOP-5ESK4KD.txt
/ghost/master/satori_savedata-DESKTOP-5ESK4KD.txt
/shell/tuugakuro
