/shell/tuugakuro+
/shell/tuugakuro
/shell/suwari
/shell/kisekae_doll
/shell/kero_cat
/shell/bustup2x
/shell/bustup
/shell/5years_after
/shell/master/profile
/ghost/master/var
/ghost/master/profile
/ghost/master/satori_savebackup.txt
/ghost/master/satori_savedata.txt
