/shell/suwari
/shell/kisekae_doll
/shell/bustup2x
/shell/5years_after
/ghost/master/profile
/ghost/master/var
/shell/master/profile
/ghost/master/satori_savedata.txt
/ghost/master/satori_savebackup.txt
/shell/tuugakuro+
